#footer {
  background: linear-gradient(
    90deg,
    #1c3643,
    #273b47 25%,
    #1e5372
  );
}
#footer a {
  color: rgb(255, 255, 255);
}

.carousel-item {
  max-height: 500px;
}

.carousel-item img {
  object-fit: cover;
  object-position: 50% 50%;
}

.carousel-inner .overlay {
  position: absolute;
  top: 57px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.overlay .container {
  height: 100%;
}

#convierteteForm form > * {
  margin-top: 0.5rem;
}
